.s-swipe-wrap {
    height: 240px;
    overflow: hidden;

    .s-swipe-container {
        position: relative;
        display: flex;
        width: 489px;
        img {
            flex-shrink:0;
            height: 240px;
            width: 100%;
        }
    }

    .task-box-swipe-list-title {
        height: 45px;
    }
}