$namespace: 's-';

@mixin blockquote($block) {
  $blockName: $namespace + $block !global;
  .#{$blockName} {
    @content;
  }
}

@mixin bgColor($color) {
  @each $key, $value in $color {
    &.#{$blockName}-#{$key} {
      background-color: #{$value};
    }
  }
}
@mixin textColor($color) {
  @each $key, $value in $color {
    &.#{$blockName}-#{$key} {
      color: #{$value};
      svg {
        fill: #{$value} !important;
      }
    }
  }
}
@mixin borderColor($color) {
  @each $key, $value in $color {
    &.#{$blockName}-#{$key}::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 1px solid;
      border-color: #{$value};
      border-radius: 3px;
      transform: scale(1);
      transform-origin: center;
    }
  }
}
