$primary: #18a058;
$default: white;
$info: #2080f0;

$default-text-color: rgb(51, 54, 57);
$primary-text-color: white;
$info-text-color:#FFF;

$primary-border-color: #18a058;
$default-border-color: rgb(224, 224, 230);
$info-border-color: #2080f0;

$primary-active-bg-color: #0c7a43;
$default-active-bg-color: #fff;
$info-active-bg-color:#1060c9;

$primary-active-border-color: #0c7a43;
$default-active-border-color: #36ad6a;
$info-active-border-color: #1060c9;

$primary-active-text-color: #fff;
$default-active-text-color: #36ad6a;
$info-active-text-color: #FFF;


$primary-hover-text-color: #fff;
$default-hover-text-color: #0c7a43;
$info-hover-text-color: #FFF;


$primary-hover-bg-color: #36ad6a;
$default-hover-bg-color: #fff;
$info-hover-bg-color: #4098fc;


$primary-hover-border-color: #36ad6a;
$default-hover-border-color: #0c7a43;
$info-hover-border-color: #4098fc;


$font-size: 12px;
$border-radius: 3px;
$icon-margin: 6px;

// default='default', primary='primary', success='success', info='info', warning='warning', error='error'
