@import './var.scss';
@import './mixins/mixins.scss';
$bg-list: (
  primary: $primary,
  default: $default,
  info: $info,
  success: $primary,
  warning: $warning,
  error: $error,
);
$dashed-color-list:(
  primary: $primary-dashed-color,
  default: $default-dashed-color,
  info: $info-dashed-color,
  success: $primary-dashed-color,
  warning: $warning-dashed-color,
  error: $error-dashed-color,
);
$color-list: (
  primary: $primary-text-color,
  default: $default-text-color,
  info: $info-text-color,
  success: $primary-text-color,
  warning: $warning-text-color,
  error: $error-text-color,
);
$border-color-list: (
  primary: $primary-border-color,
  default: $default-border-color,
  info: $info-border-color,
  success: $primary-border-color,
  warning: $warning-border-color,
  error: $error-border-color,
);
$active-bg-list: (
  primary: $primary-active-bg-color,
  default: $default-active-bg-color,
  info: $info-active-bg-color,
  success: $primary-active-bg-color,
  warning: $warning-active-bg-color,
  error: $error-active-bg-color,
);
$active-border-color-list: (
  primary: $primary-active-border-color,
  default: $default-active-border-color,
  info: $info-active-border-color,
  success: $primary-active-border-color,
  warning: $warning-active-border-color,
  error: $error-active-border-color,
);
$active-text-color-list: (
  primary: $primary-active-text-color,
  default: $default-active-text-color,
  info: $info-active-text-color,
  success: $primary-active-text-color,
  warning: $warning-active-text-color,
  error: $error-active-text-color,
);
$hover-border-color-list: (
  primary: $primary-hover-border-color,
  default: $default-hover-border-color,
  info: $info-hover-border-color,
  success: $primary-hover-border-color,
  warning: $warning-hover-border-color,
  error: $error-hover-border-color,
);
$hover-bg-color-list: (
  primary: $primary-hover-bg-color,
  default: $default-hover-bg-color,
  info: $info-hover-bg-color,
  success: $primary-hover-bg-color,
  warning: $warning-hover-bg-color,
  error: $error-hover-bg-color,
);
$hover-text-color-list: (
  primary: $primary-hover-text-color,
  default: $default-hover-text-color,
  info: $info-hover-text-color,
  success: $primary-hover-text-color,
  warning: $warning-hover-text-color,
  error: $error-hover-text-color,
);
// 按钮大小
$size-padding-list:(
  tiny:$tiny-padding,
  small:$small-padding,
  medium:$medium-padding,
  large:$large-padding
);
$size-font-size-list:(
  tiny:$tiny-font-size,
  small:$small-font-size,
  medium:$medium-font-size,
  large:$large-font-size
);
$size-height-list:(
  tiny:$tiny-height,
  small:$small-height,
  medium:$medium-height,
  large:$large-height
);
@include blockquote(button) {
  @include bgColor($bg-list);
  @include textColor($color-list);
  position: relative;
  display: inline-flex;
  font-size: $font-size;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  z-index: 2;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 14px;
  font-weight: 400;
  height: 34px;
  line-height: 1;
  @include dashed($dashed-color-list);

  &:hover {
    cursor: pointer;
    @include bgColor($hover-bg-color-list);
    @include borderContent($hover-border-color-list);
    @include textColor($hover-text-color-list);
  }
  &:active {
    @include bgColor($active-bg-list);
    @include borderContent($active-border-color-list);
    @include textColor($active-text-color-list);
    
  }
  // &-active::before{
  //   position: absolute;
  //   border: 4px solid red;
  // }
  // &-active:active::before{
  //   position: absolute;
  //   animation: warn .3s 1;
  // }
  @include sizePadding($size-padding-list);
  @include sizeFontSize($size-font-size-list);
  @include sizeHeight($size-height-list);
  @include borderContent($border-color-list);
}
.s-button__icon {
  flex-shrink: 0;
  display: inline-flex;
  margin: $icon-margin;
  margin-left: 0;
}
.s-button__content ~ .s-button__icon {
  margin: $icon-margin;
  margin-right: 0;
}
.n-base-wave {
  position: absolute;
  pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-iteration-count: 1;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0,0,0.2,1) cubic-bezier(0,0,0.2,1);
}

.s-button__content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@include shaDow($hover-border-color-list);
@include borderContent($border-color-list);
// @keyframes warn {
//   from{
//     box-shadow: 0 0 0.5px 0 $ripple-color;
//     opacity: 1;
//   }
//   to{
//     // don't use exact 5px since chrome will display the animation with glitches
//     box-shadow: 0 0 0.5px 4.5px $ripple-color;
//     opacity: 0;
//   }
// }

